* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f7f7;
    color: #333;
}

button a{
  color: white;
  text-decoration: none;
}

/* header */
 header{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    

}
.logo{
    display: flex;
}
.logo img{
  height: 4vh;
  padding-right: 10px;
  margin-top: 7px;
}
.logo-h h1{
    font-size: 2.2em;
    margin-top: -2px;
    padding-top: 2px;
}
.logo-h p{
  font-weight: 100;
  color: rgb(46, 45, 45);
  margin-top: -30px;
  padding-top: 30px;

}
header ul{
    display: flex;
    padding-top: 10px;
    gap: 30px;
    font-size: 1em;
    
}
header ul li{
    list-style: none;
    font-size: 1.2em;
}
header button{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color: #295757;
    color: white;
    font-weight: 500;
    transition: all 1s;
}
header button:hover{
    box-shadow: 10px 5px 20px rgb(94, 235, 141) ;
    transform: translatey(-10px);


}
.btn-t{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color:white;
    color: #295757;
    border: #295757 1px solid;
    font-weight: 500;
    transition: all 1s;
}
.btn-t:hover{
    box-shadow: 10px 5px 20px rgb(94, 235, 141) ;
    transform: translatey(-10px);


}

 #box-list{
        display: none;}


.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 40px 0;
}

/* -------- GALLERY -------- */

.gallery-wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 40px;
    margin-bottom: 40px;
    margin-left: 20%;
}

.gallery-thumbs img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.gallery-main img {
    width: 60%;
    height: 330px;
    border-radius: 15px;
}

/* -------- HEADER -------- */

.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-row h2 {
    font-size: 28px;
}

.rating {
    margin-top: 5px;
    color: orange;
}

.price-box {
    font-size: 26px;
    color: #3a6f4a;
}


#review{
    color: orange;
}
/* -------- MAIN GRID -------- */

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

/* -------- LEFT SECTION -------- */

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 10px 0 20px;
}

.rules li {
    margin: 5px 0;
}

.map-img {
    width: 100%;
    border-radius: 10px;
}

/* -------- BOOKING FORM -------- */

.booking-form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.08);
}

.booking-form form {
    display: grid;
    gap: 15px;
}

.booking-form input,
.booking-form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.booking-form button {
    background: #1b5e20;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* -------- REVIEWS -------- */

.review-section {
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
}

.review {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.review-head {
    display: flex;
    justify-content: space-between;
}

.review-user {
    display: flex;
    gap: 10px;
}
.review-stars{
    color: orange;
}

.review-user img {
    border-radius: 50%;
}

.review-text {
    margin-top: 10px;
}

/* -------- SIMILAR ROOMS -------- */
.container h3{
    margin-left: 40%;
    margin-top: 20px;
}
.similar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}

.room-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.room-card img {
    width: 100%;
    border-radius: 10px;
}


/* footer */
footer{
  background-color: #295757;
  color: white;
  padding-bottom: 50px;

}
.footer-{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20px;
}
.footer- p{
  font-size: 0.7em;
}
.footer- h1{
  font-size: 1.4em;
  font-weight: 600;
}
.footer-logo{
  display: flex;
  padding-bottom: 10px;
}
.footer-logo h1{
  font-size: 2em;
}
.footer-logo p{
  color: rgb(205, 195, 195);
}
.footer-logo img{
  width: 20px;
  height: 4vh;
  margin-top: 2px;
}
.footer-icons{
  padding-top: 30px;
  font-size: 2em;
}
.footer- h3{
  font-size: 1em;
  font-weight: 400;
  
}
.footer- ul {
  list-style: none;
}
.in-footer-four h1{
  padding-bottom: 20px;
}
.in-footer-four input{
  padding: 8px 50px;
  padding-left: 10px;
  position: relative;
   border: none;
  border-radius: 20px;
  margin-top: 2px;
}
.in-footer-four i{
  color: orange;
  position: absolute;
  font-size: 2.3em;
  margin-left: -37px;
 
}



/* -------- RESPONSIVE -------- */

@media (max-width: 900px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
    .gallery-wrapper {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .gallery-main{
      display: flex;
      justify-content: center;
    }

}



@media (max-width: 500px) {
    /* footer */
footer{
  background-color: #295757;
  color: white;
  padding-bottom: 50px;
  padding-left: 10px;

}
.footer-{
  display: grid;
  padding-top: 40px;
  padding-left: 2px;
  grid-template-columns: 500px;
  gap: 30px;
  
}
.footer- p{
  font-size: 0.5em;
}
.footer- h1{
  font-size: 1.4em;
  font-weight: 600;
}
.footer-logo{
  display: flex;
  padding-bottom: 10px;
}
.footer-logo h1{
  font-size: 2em;
}
.footer-logo p{
  color: rgb(205, 195, 195);
}
.footer-logo img{
  width: 20px;
  height: 4vh;
  margin-top: 2px;
}
.footer-icons{
  padding-top: 30px;
  font-size: 2em;
}
.footer- h3{
  font-size: 1em;
  font-weight: 400;
  
}
.footer- ul {
  list-style: none;
}
.in-footer-four{
  margin-left: 10px;
}
.in-footer-four h1{
  padding-bottom: 20px;
}
.in-footer-four input{
  padding: 8px 50px;
  padding-left: 10px;
  position: relative;
   border: none;
  border-radius: 20px;
  margin-top: 2px;
}
.in-footer-four i{
  color: orange;
  position: absolute;
  font-size: 2.3em;
  margin-left: -37px;
 
}

}

@media (max-width:390px) {
    /* footer */
footer{
  background-color: #295757;
  color: white;
  padding-bottom: 50px;
  padding-left: 10px;

}
.footer-{
  display: grid;
  padding-top: 40px;
  padding-left: 2px;
  grid-template-columns: 500px;
  gap: 30px;
  
}
.footer- p{
  font-size: 0.5em;
}
.footer- h1{
  font-size: 1.4em;
  font-weight: 600;
}
.footer-logo{
  display: flex;
  padding-bottom: 10px;
}
.footer-logo h1{
  font-size: 2em;
}
.footer-logo p{
  color: rgb(205, 195, 195);
}
.footer-logo img{
  width: 20px;
  height: 4vh;
  margin-top: 2px;
}
.footer-icons{
  padding-top: 30px;
  font-size: 2em;
}
.footer- h3{
  font-size: 1em;
  font-weight: 400;
  
}
.footer- ul {
  list-style: none;
}
.in-footer-four{
  margin-left: 10px;
}
.in-footer-four h1{
  padding-bottom: 20px;
}
.in-footer-four input{
  padding: 8px 50px;
  padding-left: 10px;
  position: relative;
   border: none;
  border-radius: 20px;
  margin-top: 2px;
}
.in-footer-four i{
  color: orange;
  position: absolute;
  font-size: 2.3em;
  margin-left: -37px;
 
}
}
