
    body {
        margin: 0;
        /* font-family: "Poppins", sans-serif; */
        /* background: #f2f2f2; */
        /* color: #333; */
        padding: 0;
    }
    
/* header */
 header{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    

}
.logo{
    display: flex;
}
.logo img{
  height: 7vh;
  padding-right: 10px;
  margin-top: 7px;
}
.logo-h h1{
    font-size: 2.6em;
    margin-top: -2px;
    padding-top: 2px;
}
.logo-h p{
  font-weight: 100;
  color: rgb(46, 45, 45);
  margin-top: -30px;

}
header ul{
    display: flex;
    padding-top: 10px;
    gap: 30px;
    font-size: 1em;
    
}
header ul li{
    list-style: none;
    font-size: 1.2em;
}
header button{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color: #295757;
    color: white;
    font-weight: 500;
    transition: all 1s;
}
header button:hover{
    box-shadow: 10px 5px 20px rgb(94, 235, 141) ;
    transform: translatey(-10px);


}
.btn-t{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color:white;
    color: #295757;
    border: #295757 1px solid;
    font-weight: 500;
    transition: all 1s;
}
.btn-t:hover{
    box-shadow: 10px 5px 20px rgb(94, 235, 141) ;
    transform: translatey(-10px);


}

 #box-list{
        display: none;}


            /* hero */
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(asset/hero-background.jpg);
        width: 96%;
        height: 190px;
        /* background-repeat: no-repeat; */
        margin-left: 2%;
        margin-top: -20px;
    }
    .hero img{
        width: 100%;
    }
    .hero h1{
        color: white;
        text-align: center;
        padding-top: 70px;
    }
    
        /* rooms container */

    .section-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 40px;
    }

    .rooms-container {
        max-width: 1200px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 30px;
        padding: 0 20px;
    }

    .room-card {
        background: white;
        border-radius: 20px;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    .room-card:hover {
        transform: translateY(-5px);
    }

    .room-image img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
    }

    .tag {
        background: #0d5440;
        color: white;
        display: inline-block;
        padding: 6px 14px;
        border-radius: 0 0 12px 0;
        font-size: 0.9rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .card-content {
        padding: 20px;
        position: relative;
    }

    .price {
        font-size: 1.8rem;
        font-weight: 600;
        color: #0d5440;
    }

    .price span {
        font-size: 1rem;
        color: #777;
    }

    .rating {
        float: right;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #f4a622;
        font-weight: 600;
    }

    .room-title {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 10px 0;
    }

    .details {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 0.95rem;
        color: #555;
    }


/* min-footer */
.min-footer{
  margin-top: 60px;
  margin-bottom: 40px;

}
.min-footer img{
  width: 100px;
  margin-left: 45%;
  padding-top: 20px;
}
.min-footer h3{
  font-size: 1.5em;
  color: orange;
  padding-left: 43%;
}
.min-footer h1{
  font-size: 2.8em;
  text-align: center;
  margin-left: 0%;
  font-weight: 800;
}
.miiin{
  margin-top: 20px;
  margin-left: 20%;
}

.miiin input{
  padding: 7px 90px;
  margin-left: 250px;
  position: relative;
  border: none;
  color: rgb(48, 48, 48);
  background-color: rgb(202, 204, 205);
  border-radius: 20px;
}
.miiin #min-icon{
  position: absolute;
  margin-left: -37px;
  font-size: 1.8em;
}
/* footer */
footer{
  background-color: #295757;
  color: white;
  padding-bottom: 50px;

}
.footer-{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20px;
}
.footer- p{
  font-size: 0.7em;
}
.footer- h1{
  font-size: 1.4em;
  font-weight: 600;
}
.footer-logo{
  display: flex;
  padding-bottom: 10px;
}
.footer-logo h1{
  font-size: 2em;
}
.footer-logo p{
  color: rgb(205, 195, 195);
}
.footer-logo img{
  width: 20px;
  height: 4vh;
  margin-top: 2px;
}
.footer-icons{
  padding-top: 30px;
  font-size: 2em;
}
.footer- h3{
  font-size: 1em;
  font-weight: 400;
  
}
.footer- ul {
  list-style: none;
}
.in-footer-four h1{
  padding-bottom: 20px;
}
.in-footer-four input{
  padding: 8px 50px;
  padding-left: 10px;
  position: relative;
   border: none;
  border-radius: 20px;
  margin-top: 2px;
}
.in-footer-four i{
  color: orange;
  position: absolute;
  font-size: 2.3em;
  margin-left: -37px;
 
}
 .footer- a{
  color: white;
}



/* tablet-media */

@media (max-width: 1000px) {
    
      header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}
.logo{
    display: flex;
}
.logo img{
  height: 4vh;
  padding-right: 10px;
}
.logo-h h1{
    font-size: 2.8em;
}
.logo-h p{
  font-weight: 100;
  color: rgb(46, 45, 45);
}
header ul{
    display: flex;
    padding-top: 20px;
    gap: 30px;
    font-size: 1em;
    display: none;
}
header ul li{
    list-style: none;
    font-size: 1em;
}
header button{
    padding: 9px 30px;
    border-radius: 30px;
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color: #295757;
    color: white;
    font-weight: 500;}
    
    #box-list{
        display: none;
    }

 .rooms-container {
        max-width: 1200px;
        margin: 40px 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
         /* grid-template-columns: repeat(2, 1fr); */
        gap: 30px;
        padding: 0 20px;}
}
  





     /* phone-mwdia */

@media (max-width: 500px) {

 header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /* position: relative; */
    margin: auto auto;

}
.logo{
    display: flex;
}
.logo img{
  height: 4vh;
  padding-right: 10px;
}
.logo-h h1{
    font-size: 1.3em;
}
.logo-h p{
  font-weight: 100;
  color: rgb(46, 45, 45);
  padding-top: 13px;
}
header ul{
   display: none;
}


header button{
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 0.7em;
    margin: 0px;
    border: none;
    background-color: #295757;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    display: none;

}
#box-list{
    font-size: 2em;
    display: block;
    color: #295757;
    padding-top: 5px;
}
/* footer */
footer{
  background-color: #295757;
  color: white;
  padding-bottom: 50px;

}
.footer-{
  display: block;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20px;
}
.footer- p{
  font-size: 0.7em;
}
.footer- h1{
  font-size: 1.4em;
  font-weight: 600;
}
.footer-logo{
  display: flex;
  padding-bottom: 10px;
}
.footer-logo h1{
  font-size: 2em;
}
.footer-logo p{
  color: rgb(205, 195, 195);
}
.footer-logo img{
  width: 20px;
  height: 4vh;
  margin-top: 2px;
}
.footer-icons{
  padding-top: 30px;
  font-size: 2em;
}
.footer- h3{
  font-size: 1em;
  font-weight: 400;
  
}
.footer- ul {
  list-style: none;
}
.in-footer-four h1{
  padding-bottom: 20px;
  display: none;
}
.in-footer-four input{
  padding: 8px 50px;
  padding-left: 10px;
  position: relative;
   border: none;
  border-radius: 20px;
  margin-top: 2px;
  display: none;
}
.in-footer-four i{
  color: orange;
  position: absolute;
  font-size: 2.3em;
  margin-left: -37px;
  display: none;
 
}
 .footer- a{
  color: white;
}

}

@media (max-width:500px) {
  .rooms-container{
    margin-left: 4px;
  }
}