*{
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
body{
    background-color: rgb(50, 89, 66);

}
.contaiener{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 89, 66);
    color: white;
}
.left-stite{
    margin-top: 50px;
    padding-top: 60px;
    margin-left: 30px;
}
.left-stite h1{
    font-size: 3em;
    padding-bottom: 17px;
}
.left-stite p{
    padding-bottom: 30PX;
}
 label{
    padding-top: 40px;
 }
 input{
 padding: 8px 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;

 }
.psw{
    margin-left: -2px;
 }
 .sing-in{
    padding: 7px 87px;
    background-color: gray;
    color: white;
    border: none;
    margin-left: 36px;
    margin-bottom: 20px;
    border-radius: 20px;
 }
 .her{
    display: flex;
    border: none;
    height: 0;
    margin-left: -20px;
    margin-bottom: 30px;
    gap: 10px;

 }
 .her hr{
    width: 150px;
    margin-top: 10px;
    display: none;
    
 }
 .her h4{
    padding-top: -40px;
    display: none;

 }
 .down-buttons button{
    padding: 7px 87px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: -10px;

 }
 .down-buttons i{
    
    font-size: 1.6em;
 }
 .bnt-dwn-1{
    background-color: rgb(225, 220, 220);
    padding: 7px 70px;
 }
 #suu{
    padding-top: 12px;
    font-size: 2.1em;
    margin-left: -50px;
    color: white;
    position: absolute;
    display: none;
 }
 #suuu{
    background-color: rgb(69, 73, 73);
    color: white;
    font-weight: 900;
    position: relative;
    margin-bottom: 20px;
    display: none;

 }
 .bnt-dwn-1{
    background-color: rgb(5, 130, 233);
    margin-left: -35px;
    padding: 7px 40px;
    color: white;
    font-weight: 900;
    position: relative;
    display: none;

 }
 #fecbook-icon{
    position: absolute;
    padding-top: 7px;
    margin-left: -50px;
    font-size: 2em;
    display: none;

    

 }
 img{
    width:600px ;
    border-radius: 40px;
    margin-top: 30px;
 }
 a{
   color: white;
 }
 .fecbook-icon{
   font-size: 3em;
   position:absolute ;
 }


 @media (max-width:500px) {
  .contaiener{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 89, 66);
    color: white;
}
.left-stite{
    margin-top: 50px;
    padding-top: 60px;
    margin-left: 30px;
}
.left-stite h1{
    font-size: 1.8em;
    padding-bottom: 17px;
}
.left-stite p{
    padding-bottom: 30PX;
}
 label{
    padding-top: 40px;
    margin-left: -30px;
    font-size: 1em;
    margin-bottom: 20px;


 }
 input{
 padding: 8px 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    margin-left: -30px;
    font-size: 1em;


 }
.psw{
    margin-left: -2px;
    margin-left: -50px;

 }
 .sing-in{
    padding: 7px 87px;
    background-color: gray;
    color: white;
    border: none;
    margin-left: 36px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 1em;
 }
 .her{
    display: flex;
    border: none;
    height: 0;
    margin-left: -20px;
    margin-bottom: 30px;
    gap: 10px;

 }
 .her hr{
    width: 150px;
    margin-top: 10px;
    display: none;
    
 }
 .her h4{
    padding-top: -40px;
    display: none;

 }
 .down-buttons button{
    padding: 7px 87px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: -10px;

 }
 .down-buttons i{
    
    font-size: 1.6em;
 }
 .bnt-dwn-1{
    background-color: rgb(225, 220, 220);
    padding: 7px 70px;
 }
 #suu{
    padding-top: 12px;
    font-size: 2.1em;
    margin-left: -50px;
    color: white;
    position: absolute;
    display: none;
 }
 #suuu{
    background-color: rgb(69, 73, 73);
    color: white;
    font-weight: 900;
    position: relative;
    margin-bottom: 20px;
    display: none;

 }
 .bnt-dwn-1{
    background-color: rgb(5, 130, 233);
    margin-left: -35px;
    padding: 7px 40px;
    color: white;
    font-weight: 900;
    position: relative;
    display: none;

 }
 #fecbook-icon{
    position: absolute;
    padding-top: 7px;
    margin-left: -50px;
    font-size: 2em;
    display: none;

    

 }
 img{
    width:600px ;
    border-radius: 40px;
    margin-top: 30px;
 }
 a{
   color: white;
 }
 .fecbook-icon{
   font-size: 3em;
   position:absolute ;
 }
 }