.menu-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.menu-left img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.menu-right {
  flex: 1;
  margin-left: 20px;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-tags .tag {
  padding: 3px 8px;
  border-radius: 50px;
  font-size: 10px;
}